{% extends 'view.twig' %}

{% block content %}
    {% if mostrarMensaje %}
        <h3>{{ mensaje }}</h3>
    {% endif %}
    <h2 class="h2_index">Arme su pedido</h2>
    <form name="form_armar_pedido" action="/armar_pedido" method="post">
        <section>
            <h3>Hamburguesas</h3>
            {% for producto in productos %}
                <article class="armar_pedido">
                    <picture>
                        <source srcset="../images/productos/{{ producto.path_img }}-L.png" media="(min-width: 1024px)">
                        <source srcset="../images/productos/{{ producto.path_img }}-M.png" media="(min-width: 481px) and (max-width: 1023px)">
                        <source srcset="../images/productos/{{ producto.path_img }}-S.png" media="(max-width: 480px)">
                        <img src="../images/productos/{{ producto.path_img }}-L.png">
                    </picture>
                    <h4>{{ producto.nombre }}</h4>
                    <p>{{ producto.descripcion }} - ${{ producto.precio }}</p>
                    <label for="{{ producto.id }}">
                        Cantidad:<input id="{{ producto.id }}" name="{{ producto.id }}" type="number" value="0" min="0" max="20" step="1.0">
                    </label>
                </article>
            {% endfor %}
        </section>

        <!-- BEBIDAS Y OTROS -->
        {# <section>
            <h3>Otros productos</h3>
            {% for producto in otrosProductos %}
                <article class="armar_pedido">
                    <picture>
                        <source srcset="../images/{{ producto.imagen }}-L.png" media="(min-width: 1024px)">
                        <source srcset="../images/{{ producto.imagen }}-M.png" media="(min-width: 481px) and (max-width: 1023px)">
                        <source srcset="../images/{{ producto.imagen }}-S.png" media="(max-width: 480px)">
                        <img src="../images/{{ producto.imagen }}-L.png">
                    </picture>
                    <h4>{{ producto.nombre }}</h4>
                    <p>{{ producto.descripcion }} - {{ producto.precio }}$</p>
                    <label for="otroproducto{{ loop.index }}">
                        Cantidad: <input id="otroproducto{{ loop.index }}" name="{{ loop.index }}" type="number" value="0" min="0" max="20" step="1.0">
                    </label>
                </article>
            {% endfor %}
        </section> #}
        <input class="submit" type="submit" id="boton_enviar" name="boton_enviar">
    </form>
{% endblock %}