<nav>
    <ul>
        {% if isLoggedIn() %}
            {% for item in nav %}

            
                {% set user = request().user() %}
                {% if user.getRole() == item.role %} 
                    <li>
                        <a href="{{ item.href }}" 
                            class="{{ app.request.getPathInfo() == item.href ? 'selected' : '' }}">
                            {{ item.name }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for item in nav %}
                {% if item.role == 'user' %} 
                    <li>
                        <a href="{{ item.href }}" 
                            class="{{ app.request.getPathInfo() == item.href ? 'selected' : '' }}">
                            {{ item.name }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        {% endif %}
        
    </ul>
</nav>
<nav class="account">
    <ul>
        {% if isLoggedIn() %}
        <li>
            <a href="/logout">Logout</a>
        </li>
        {% else %}
        <li>
            <a href="/login">Login</a>
        </li>
        <li>
            <a href="/register">Register</a>
        </li>
        {% endif %}
    </ul>
</nav>